*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Vazirmatn,sans-serif;
}

body{
background:#09182b;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
padding:20px;
}

.card{
width:100%;
max-width:420px;
background:#10233b;
border:2px solid #d7b56d;
border-radius:25px;
padding:30px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.4);
}

.logo{
width:140px;
margin-bottom:20px;
}

h1{
color:#d7b56d;
font-size:28px;
margin-bottom:10px;
}

.subtitle{
color:#fff;
margin-bottom:30px;
}

.btn{
display:block;
margin:15px 0;
padding:16px;
background:#d7b56d;
color:#09182b;
text-decoration:none;
font-weight:bold;
border-radius:12px;
font-size:18px;
}

.address{
margin-top:25px;
color:#fff;
line-height:2;
font-size:15px;
}

.footer{
margin-top:35px;
font-size:13px;
color:#d7b56d;
}